@model PagedResponse<SkillDTO>
<div class="border-bottom mb-2">
    <div class="border-bottom-1 mx-content pb-2 font-30">
        Mission Skill
    </div>
</div>

<div class="mt-4 d-flex flex-column justify-content-center align-items-center flex-sm-row justify-content-sm-between gap-4 gap-sm-2">
    <div class="border py-1 px-3 d-flex align-items-center admin-search-container">
        <img src="~/assets/search.png" alt="Search Here" height="20px" width="20px">
        <input type="text" name="Search" id="msn-skill-search" placeholder="Search here" class="border-0 ms-2 form-control">
        <div class="spinner-border opacity-0 spinner-control" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <button class="btn-g-orange gap-0 px-2 py-0 pe-3 mx-content" id="btn-skill-add">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#f88634" class="bi bi-plus"
             viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Add
    </button>
</div>

<div id = "table-data">
    <partial name="_SkillList" model = "Model"></partial>
</div>

<div class="pagination c-pagination-item mt-2 d-flex flex-column flex-md-row gap-2 align-items-center justify-content-between" id="pagination-container">
</div>


