USE [master]
GO
/****** Object:  Database [CI_PLATFORM]    Script Date: 02-05-2023 12:15:28 ******/
CREATE DATABASE [CI_PLATFORM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CI_PLATFORM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CI_PLATFORM.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CI_PLATFORM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CI_PLATFORM_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CI_PLATFORM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CI_PLATFORM]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](16) NOT NULL,
	[last_name] [varchar](16) NOT NULL,
	[email] [varchar](128) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[banner_id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[text] [text] NULL,
	[sort_order] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
	[path] [varchar](255) NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_banner] PRIMARY KEY CLUSTERED 
(
	[banner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[country_id] [tinyint] NOT NULL,
	[name] [varchar](255) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_page]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_page](
	[cms_page_id] [smallint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[slug] [varchar](255) NOT NULL,
	[status] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_cms_page] PRIMARY KEY CLUSTERED 
(
	[cms_page_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[approval_status] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
	[comment_text] [text] NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_us]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_us](
	[contact_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[subject] [varchar](255) NOT NULL,
	[message] [varchar](6000) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[status] [tinyint] NULL,
	[response] [varchar](6000) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
	[is_deleted] [bit] NULL,
 CONSTRAINT [PK_contact_us] PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[country_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[ISO] [varchar](16) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favourite_mission]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favourite_mission](
	[favourite_mission_id] [bigint] IDENTITY(1,1) NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_favourite_mission] PRIMARY KEY CLUSTERED 
(
	[favourite_mission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goal_mission]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goal_mission](
	[goal_mission_id] [bigint] IDENTITY(1,1) NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[goal_objective_text] [varchar](255) NULL,
	[goal_value] [int] NOT NULL,
	[goal_achived] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_goal_mission] PRIMARY KEY CLUSTERED 
(
	[goal_mission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mission]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mission](
	[mission_id] [bigint] IDENTITY(1,1) NOT NULL,
	[theme_id] [smallint] NULL,
	[country_id] [tinyint] NULL,
	[title] [varchar](128) NULL,
	[short_description] [text] NULL,
	[start_date] [datetimeoffset](7) NULL,
	[end_date] [datetimeoffset](7) NULL,
	[mission_type] [bit] NOT NULL,
	[status] [bit] NULL,
	[organization_name] [varchar](255) NULL,
	[organization_detail] [text] NULL,
	[availability] [tinyint] NULL,
	[total_seat] [bigint] NULL,
	[registration_deadline] [datetimeoffset](7) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
	[description] [text] NULL,
	[rating] [tinyint] NULL,
	[city_id] [int] NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_mission] PRIMARY KEY CLUSTERED 
(
	[mission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mission_application]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mission_application](
	[mission_application_id] [bigint] IDENTITY(1,1) NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[approval_status] [tinyint] NULL,
	[applied_at] [datetimeoffset](7) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_mission_application] PRIMARY KEY CLUSTERED 
(
	[mission_application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mission_document]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mission_document](
	[mission_document_id] [bigint] IDENTITY(1,1) NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[document_name] [varchar](255) NULL,
	[document_type] [varchar](5) NULL,
	[document_path] [varchar](255) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
	[document_title] [varchar](255) NULL,
 CONSTRAINT [PK_mission_document] PRIMARY KEY CLUSTERED 
(
	[mission_document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mission_invite]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mission_invite](
	[mission_invite_id] [bigint] IDENTITY(1,1) NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[from_user_id] [bigint] NOT NULL,
	[to_user_id] [bigint] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_mission_invite] PRIMARY KEY CLUSTERED 
(
	[mission_invite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mission_media]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mission_media](
	[mission_media_id] [bigint] IDENTITY(1,1) NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[media_name] [varchar](64) NULL,
	[media_type] [varchar](5) NULL,
	[media_path] [varchar](255) NULL,
	[default] [bit] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_mission_media] PRIMARY KEY CLUSTERED 
(
	[mission_media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mission_rating]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mission_rating](
	[mission_rating_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_mission_rating] PRIMARY KEY CLUSTERED 
(
	[mission_rating_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mission_skill]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mission_skill](
	[mission_skill_id] [bigint] IDENTITY(1,1) NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[skill_id] [smallint] NOT NULL,
	[status] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_mission_skill] PRIMARY KEY CLUSTERED 
(
	[mission_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mission_theme]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mission_theme](
	[theme_id] [smallint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NULL,
	[status] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_mission_theme] PRIMARY KEY CLUSTERED 
(
	[theme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_setting]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_setting](
	[setting_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[is_enabled_recommend_mission] [bit] NOT NULL,
	[is_enabled_volunteer_hour] [bit] NOT NULL,
	[is_enabled_volunteer_goal] [bit] NOT NULL,
	[is_enabled_comment] [bit] NOT NULL,
	[is_enabled_story] [bit] NOT NULL,
	[is_enabled_new_mission] [bit] NOT NULL,
	[is_enabled_message] [bit] NOT NULL,
	[is_enabled_mission_application] [bit] NOT NULL,
	[is_enabled_news] [bit] NOT NULL,
	[is_enabled_email] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_type]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_type](
	[type_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset](
	[email] [varchar](128) NOT NULL,
	[token] [varchar](191) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_password_reset] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[skill_id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](64) NOT NULL,
	[status] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_skill] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[story]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[story](
	[story_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[title] [varchar](255) NULL,
	[description] [text] NULL,
	[status] [tinyint] NULL,
	[published_at] [datetimeoffset](7) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
	[video_url] [varchar](255) NULL,
	[short_description] [varchar](255) NULL,
	[story_view] [bigint] NULL,
	[is_deleted] [bit] NULL,
 CONSTRAINT [PK_story] PRIMARY KEY CLUSTERED 
(
	[story_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[story_invite]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[story_invite](
	[story_invite_id] [bigint] IDENTITY(1,1) NOT NULL,
	[story_id] [bigint] NOT NULL,
	[from_user_id] [bigint] NOT NULL,
	[to_user_id] [bigint] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_story_invite] PRIMARY KEY CLUSTERED 
(
	[story_invite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[story_media]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[story_media](
	[story_media_id] [bigint] IDENTITY(1,1) NOT NULL,
	[story_id] [bigint] NOT NULL,
	[media_name] [varchar](255) NULL,
	[media_type] [varchar](5) NULL,
	[media_path] [varchar](255) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_story_media] PRIMARY KEY CLUSTERED 
(
	[story_media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[timesheet]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timesheet](
	[timesheet_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[mission_id] [bigint] NOT NULL,
	[time] [time](7) NULL,
	[action] [int] NULL,
	[date_volunteered] [datetimeoffset](7) NULL,
	[notes] [text] NULL,
	[status] [tinyint] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_timesheet] PRIMARY KEY CLUSTERED 
(
	[timesheet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](16) NOT NULL,
	[last_name] [varchar](16) NOT NULL,
	[email] [varchar](128) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
	[avatar] [varchar](255) NULL,
	[why_i_volunteer] [text] NULL,
	[employee_id] [varchar](16) NULL,
	[department] [varchar](16) NULL,
	[city_id] [int] NULL,
	[country_id] [tinyint] NULL,
	[profile_text] [text] NULL,
	[linked_in_url] [varchar](255) NULL,
	[title] [varchar](255) NULL,
	[status] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
	[availability] [tinyint] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_notification]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_notification](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[type_id] [tinyint] NOT NULL,
	[message] [varchar](255) NULL,
	[created_at] [datetimeoffset](7) NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_notification_check]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_notification_check](
	[user_id] [bigint] NOT NULL,
	[last_check] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_skill]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_skill](
	[user_skill_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[skill_id] [smallint] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NULL,
	[deleted_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_user_skill] PRIMARY KEY CLUSTERED 
(
	[user_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[verify_email]    Script Date: 02-05-2023 12:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[verify_email](
	[email] [varchar](255) NOT NULL,
	[token] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([admin_id], [first_name], [last_name], [email], [password], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Admin', N'Victor', N'sunnyvachheta89+admin@gmail.com', N'57TwI1F81HzomqZgko1FJPjKfwg3pliYLLjnZkX8yaQ=', CAST(N'2023-04-27T00:00:00.0000000+05:30' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[banner] ON 

INSERT [dbo].[banner] ([banner_id], [title], [text], [sort_order], [created_at], [updated_at], [deleted_at], [path], [status]) VALUES (1, N'One piece banner image', NULL, 0, CAST(N'2023-04-20T10:53:39.2627857+05:30' AS DateTimeOffset), CAST(N'2023-04-26T15:08:40.2023700+05:30' AS DateTimeOffset), CAST(N'2023-04-30T19:26:26.0771167+05:30' AS DateTimeOffset), N'\images\banner\f0800377-8d5a-4ed1-b423-3a5acfea1829.jpg', 0)
INSERT [dbo].[banner] ([banner_id], [title], [text], [sort_order], [created_at], [updated_at], [deleted_at], [path], [status]) VALUES (2, N'One piece banner image', NULL, 100, CAST(N'2023-04-20T11:21:20.5523061+05:30' AS DateTimeOffset), CAST(N'2023-04-25T10:15:34.3489840+05:30' AS DateTimeOffset), CAST(N'2023-04-30T19:26:17.5586826+05:30' AS DateTimeOffset), N'\images\banner\6cb26513-454c-4847-96d6-0f19e644a10e.jpg', 0)
INSERT [dbo].[banner] ([banner_id], [title], [text], [sort_order], [created_at], [updated_at], [deleted_at], [path], [status]) VALUES (3, N'Background image', N'Some random text', 0, CAST(N'2023-04-20T12:22:41.4595123+05:30' AS DateTimeOffset), CAST(N'2023-04-20T12:58:13.4728002+05:30' AS DateTimeOffset), CAST(N'2023-04-30T19:26:32.6500108+05:30' AS DateTimeOffset), N'\images\banner\db9a25e0-eb09-4add-85f4-9bb377300e8d.jpg', 0)
SET IDENTITY_INSERT [dbo].[banner] OFF
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([city_id], [country_id], [name], [created_at], [updated_at], [deleted_at]) VALUES (2, 1, N'Ahmedabad', CAST(N'2023-03-06T15:34:55.6033333+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[city] ([city_id], [country_id], [name], [created_at], [updated_at], [deleted_at]) VALUES (3, 1, N'Delhi', CAST(N'2023-03-06T15:34:55.6033333+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[city] ([city_id], [country_id], [name], [created_at], [updated_at], [deleted_at]) VALUES (4, 1, N'Mumbai', CAST(N'2023-03-06T15:34:55.6033333+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[city] OFF
GO
SET IDENTITY_INSERT [dbo].[cms_page] ON 

SET IDENTITY_INSERT [dbo].[cms_page] OFF
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([comment_id], [user_id], [mission_id], [approval_status], [created_at], [updated_at], [deleted_at], [comment_text]) VALUES (1, 4, 12, 1, CAST(N'2023-03-21T11:16:04.5766667+00:00' AS DateTimeOffset), NULL, NULL, N'This is the best mission I came across')
INSERT [dbo].[comment] ([comment_id], [user_id], [mission_id], [approval_status], [created_at], [updated_at], [deleted_at], [comment_text]) VALUES (2, 2, 12, 1, CAST(N'2023-03-21T11:16:04.5766667+00:00' AS DateTimeOffset), NULL, NULL, N'Nice Mission')
INSERT [dbo].[comment] ([comment_id], [user_id], [mission_id], [approval_status], [created_at], [updated_at], [deleted_at], [comment_text]) VALUES (3, 3, 12, 1, CAST(N'2023-03-21T11:16:04.5766667+00:00' AS DateTimeOffset), NULL, NULL, N'Great Experience')
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[contact_us] ON 

INSERT [dbo].[contact_us] ([contact_id], [user_id], [subject], [message], [created_at], [updated_at], [status], [response], [deleted_at], [is_deleted]) VALUES (10014, 4, N'How missions are going?', N'This is sample message, read it and reply!', CAST(N'2023-04-19T11:27:18.3268340+05:30' AS DateTimeOffset), NULL, 1, N'Fire as hell! you should join as well!', NULL, 0)
INSERT [dbo].[contact_us] ([contact_id], [user_id], [subject], [message], [created_at], [updated_at], [status], [response], [deleted_at], [is_deleted]) VALUES (10016, 15, N'Process for volunteer registration', N'Process for volunteer registration, what to do', CAST(N'2023-04-19T11:31:59.4916985+05:30' AS DateTimeOffset), NULL, 1, N'Timepass response', NULL, 0)
INSERT [dbo].[contact_us] ([contact_id], [user_id], [subject], [message], [created_at], [updated_at], [status], [response], [deleted_at], [is_deleted]) VALUES (10017, 16, N'How to post mission story?', N'Process to post mission story in platform.', CAST(N'2023-04-19T11:33:04.2881467+05:30' AS DateTimeOffset), NULL, 1, N'You can post story after selected as volunteer in any mission. Have fun!', NULL, 0)
SET IDENTITY_INSERT [dbo].[contact_us] OFF
GO
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([country_id], [name], [ISO], [created_at], [updated_at], [deleted_at]) VALUES (1, N'India', N'IN', CAST(N'2023-03-05T21:04:55.2433333+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[country] ([country_id], [name], [ISO], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Australia', N'AU', CAST(N'2023-03-05T21:04:55.2433333+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[country] ([country_id], [name], [ISO], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Newzealand', N'NZ', CAST(N'2023-03-05T21:04:55.2433333+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[country] OFF
GO
SET IDENTITY_INSERT [dbo].[favourite_mission] ON 

INSERT [dbo].[favourite_mission] ([favourite_mission_id], [mission_id], [user_id], [created_at], [updated_at], [deleted_at]) VALUES (3, 10, 3, CAST(N'2023-03-06T12:03:00.9866667+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[favourite_mission] ([favourite_mission_id], [mission_id], [user_id], [created_at], [updated_at], [deleted_at]) VALUES (4, 4, 3, CAST(N'2023-03-06T12:03:00.9866667+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[favourite_mission] ([favourite_mission_id], [mission_id], [user_id], [created_at], [updated_at], [deleted_at]) VALUES (5, 3, 2, CAST(N'2023-03-06T12:03:00.9866667+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[favourite_mission] OFF
GO
SET IDENTITY_INSERT [dbo].[goal_mission] ON 

INSERT [dbo].[goal_mission] ([goal_mission_id], [mission_id], [goal_objective_text], [goal_value], [goal_achived], [created_at], [updated_at], [deleted_at]) VALUES (1, 4, N'Plant 10,000 Trees', 10000, 15, CAST(N'2023-03-06T12:17:47.6566667+00:00' AS DateTimeOffset), CAST(N'2023-04-26T15:04:36.0729505+05:30' AS DateTimeOffset), NULL)
INSERT [dbo].[goal_mission] ([goal_mission_id], [mission_id], [goal_objective_text], [goal_value], [goal_achived], [created_at], [updated_at], [deleted_at]) VALUES (2, 7, N'Collect $ 50K', 50000, 30000, CAST(N'2023-03-06T12:17:47.6566667+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[goal_mission] ([goal_mission_id], [mission_id], [goal_objective_text], [goal_value], [goal_achived], [created_at], [updated_at], [deleted_at]) VALUES (3, 8, N'Solar Plant 1000 Houses', 1000, 10, CAST(N'2023-03-06T12:17:47.6566667+00:00' AS DateTimeOffset), CAST(N'2023-04-26T14:36:19.1030852+05:30' AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[goal_mission] OFF
GO
SET IDENTITY_INSERT [dbo].[mission] ON 

SET IDENTITY_INSERT [dbo].[mission] OFF
GO
SET IDENTITY_INSERT [dbo].[mission_application] ON 

INSERT [dbo].[mission_application] ([mission_application_id], [mission_id], [user_id], [approval_status], [applied_at], [created_at], [updated_at], [deleted_at]) VALUES (1, 3, 3, 1, CAST(N'2023-03-06T11:55:46.8500000+00:00' AS DateTimeOffset), CAST(N'2023-03-06T11:55:46.8500000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_application] ([mission_application_id], [mission_id], [user_id], [approval_status], [applied_at], [created_at], [updated_at], [deleted_at]) VALUES (2, 4, 2, 1, CAST(N'2023-03-06T11:56:35.9666667+00:00' AS DateTimeOffset), CAST(N'2023-03-06T11:56:35.9666667+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_application] ([mission_application_id], [mission_id], [user_id], [approval_status], [applied_at], [created_at], [updated_at], [deleted_at]) VALUES (3, 5, 3, 1, CAST(N'2023-03-06T11:56:35.9666667+00:00' AS DateTimeOffset), CAST(N'2023-03-06T11:56:35.9666667+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[mission_application] OFF
GO
SET IDENTITY_INSERT [dbo].[mission_document] ON 

INSERT [dbo].[mission_document] ([mission_document_id], [mission_id], [document_name], [document_type], [document_path], [created_at], [updated_at], [deleted_at], [document_title]) VALUES (1, 4, N'DB', N'.xlsx', N'\documents\', CAST(N'2023-03-23T11:22:58.1166667+00:00' AS DateTimeOffset), NULL, NULL, N'DB')
INSERT [dbo].[mission_document] ([mission_document_id], [mission_id], [document_name], [document_type], [document_path], [created_at], [updated_at], [deleted_at], [document_title]) VALUES (2, 4, N'lorem-ipsum', N'.docx', N'\documents\', CAST(N'2023-03-23T11:22:58.1166667+00:00' AS DateTimeOffset), NULL, NULL, N'Lorem')
INSERT [dbo].[mission_document] ([mission_document_id], [mission_id], [document_name], [document_type], [document_path], [created_at], [updated_at], [deleted_at], [document_title]) VALUES (3, 4, N'lorem-pdf', N'.pdf', N'\documents\', CAST(N'2023-03-23T11:22:58.1166667+00:00' AS DateTimeOffset), NULL, NULL, N'Lorem')
SET IDENTITY_INSERT [dbo].[mission_document] OFF
GO
SET IDENTITY_INSERT [dbo].[mission_invite] ON 

INSERT [dbo].[mission_invite] ([mission_invite_id], [mission_id], [from_user_id], [to_user_id], [created_at], [updated_at], [deleted_at]) VALUES (3, 4, 4, 7, CAST(N'2023-03-23T10:45:24.8886889+05:30' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_invite] ([mission_invite_id], [mission_id], [from_user_id], [to_user_id], [created_at], [updated_at], [deleted_at]) VALUES (4, 4, 4, 8, CAST(N'2023-03-23T10:45:24.8888042+05:30' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_invite] ([mission_invite_id], [mission_id], [from_user_id], [to_user_id], [created_at], [updated_at], [deleted_at]) VALUES (5, 4, 4, 9, CAST(N'2023-03-23T11:18:06.2826702+05:30' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[mission_invite] OFF
GO
SET IDENTITY_INSERT [dbo].[mission_media] ON 

INSERT [dbo].[mission_media] ([mission_media_id], [mission_id], [media_name], [media_type], [media_path], [default], [created_at], [updated_at], [deleted_at]) VALUES (7, 5, N'CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4', N'.png', N'\images\static\', 1, CAST(N'2023-03-06T11:42:30.2500000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_media] ([mission_media_id], [mission_id], [media_name], [media_type], [media_path], [default], [created_at], [updated_at], [deleted_at]) VALUES (9, 10, N'CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4', N'.png', N'\images\static\', 1, CAST(N'2023-03-06T11:42:30.2500000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_media] ([mission_media_id], [mission_id], [media_name], [media_type], [media_path], [default], [created_at], [updated_at], [deleted_at]) VALUES (10, 3, N'CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4', N'.png', N'\images\static\', 1, CAST(N'2023-03-06T11:42:30.2500000+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[mission_media] OFF
GO
SET IDENTITY_INSERT [dbo].[mission_rating] ON 

INSERT [dbo].[mission_rating] ([mission_rating_id], [user_id], [mission_id], [rating], [created_at], [updated_at], [deleted_at]) VALUES (7, 4, 4, 4, CAST(N'2023-03-20T12:47:31.9181627+05:30' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_rating] ([mission_rating_id], [user_id], [mission_id], [rating], [created_at], [updated_at], [deleted_at]) VALUES (8, 4, 8, 4, CAST(N'2023-03-27T09:48:36.3693217+05:30' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[mission_rating] OFF
GO
SET IDENTITY_INSERT [dbo].[mission_skill] ON 

INSERT [dbo].[mission_skill] ([mission_skill_id], [mission_id], [skill_id], [status], [created_at], [updated_at], [deleted_at]) VALUES (1, 3, 1, 1, CAST(N'2023-03-06T18:26:18.3300000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_skill] ([mission_skill_id], [mission_id], [skill_id], [status], [created_at], [updated_at], [deleted_at]) VALUES (2, 8, 2, 1, CAST(N'2023-03-06T18:26:18.3300000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_skill] ([mission_skill_id], [mission_id], [skill_id], [status], [created_at], [updated_at], [deleted_at]) VALUES (3, 5, 5, 1, CAST(N'2023-03-06T18:26:18.3300000+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[mission_skill] OFF
GO
SET IDENTITY_INSERT [dbo].[mission_theme] ON 

INSERT [dbo].[mission_theme] ([theme_id], [title], [status], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Environment', 1, CAST(N'2023-03-03T17:22:38.8833333+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_theme] ([theme_id], [title], [status], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Education', 1, CAST(N'2023-03-03T17:22:38.8833333+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[mission_theme] ([theme_id], [title], [status], [created_at], [updated_at], [deleted_at]) VALUES (4, N'Children', 1, CAST(N'2023-03-03T17:22:38.8833333+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[mission_theme] OFF
GO
INSERT [dbo].[password_reset] ([email], [token], [created_at]) VALUES (N'sunnyvachheta26+myapp@gmail.com', N'831a6b61-8952-451e-883f-6019e0a12992', CAST(N'2023-04-26T21:25:55.7852506+05:30' AS DateTimeOffset))
INSERT [dbo].[password_reset] ([email], [token], [created_at]) VALUES (N'sunnyvachheta26@gmail.com', N'bf7ad6c0-9e34-4a2c-94ab-b3bd1fb0ed20', CAST(N'2023-04-12T18:36:32.9579413+05:30' AS DateTimeOffset))
INSERT [dbo].[password_reset] ([email], [token], [created_at]) VALUES (N'temp@gmail.com', N'd0e53c2b-3c90-4c99-aee0-c1e2a48613de', CAST(N'2023-04-12T18:14:31.1733913+05:30' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[skill] ON 

INSERT [dbo].[skill] ([skill_id], [name], [status], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Archeology', 0, CAST(N'2023-03-06T18:23:31.2166667+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[skill] ([skill_id], [name], [status], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Astronomy', 1, CAST(N'2023-03-06T18:23:31.2166667+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[skill] ([skill_id], [name], [status], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Computer Science', 1, CAST(N'2023-03-06T18:23:31.2166667+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[skill] OFF
GO
SET IDENTITY_INSERT [dbo].[story] ON 

INSERT [dbo].[story] ([story_id], [user_id], [mission_id], [title], [description], [status], [published_at], [created_at], [updated_at], [deleted_at], [video_url], [short_description], [story_view], [is_deleted]) VALUES (3, 4, 8, N'Here we have story title for mission 3', N'<p>Community investment is a great tool for empowering society. Above mission is great example to corporate.</p>
<p>Everything was great.<br>Great team work.<br>Enjoy.</p>', 2, NULL, CAST(N'2023-03-28T14:13:27.8580889+05:30' AS DateTimeOffset), NULL, NULL, NULL, NULL, 60, 0)
INSERT [dbo].[story] ([story_id], [user_id], [mission_id], [title], [description], [status], [published_at], [created_at], [updated_at], [deleted_at], [video_url], [short_description], [story_view], [is_deleted]) VALUES (4, 4, 4, N'Here we have story title for mission 2', N'<p>Community investment is a great tool for empowering society. Above mission is great example to corporate.</p>
<p>Everything was great.<br>Great team work.<br>Enjoy.</p>', 3, NULL, CAST(N'2023-03-28T14:17:45.0415431+05:30' AS DateTimeOffset), NULL, NULL, NULL, NULL, 12, 1)
SET IDENTITY_INSERT [dbo].[story] OFF
GO
SET IDENTITY_INSERT [dbo].[story_invite] ON 

INSERT [dbo].[story_invite] ([story_invite_id], [story_id], [from_user_id], [to_user_id], [created_at], [updated_at], [deleted_at]) VALUES (1, 3, 4, 7, CAST(N'2023-03-31T12:22:00.5467034+05:30' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[story_invite] ([story_invite_id], [story_id], [from_user_id], [to_user_id], [created_at], [updated_at], [deleted_at]) VALUES (2, 3, 4, 9, CAST(N'2023-03-31T12:22:00.8707255+05:30' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[story_invite] ([story_invite_id], [story_id], [from_user_id], [to_user_id], [created_at], [updated_at], [deleted_at]) VALUES (3, 13, 4, 7, CAST(N'2023-04-03T14:32:40.1087280+05:30' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[story_invite] OFF
GO
SET IDENTITY_INSERT [dbo].[story_media] ON 

INSERT [dbo].[story_media] ([story_media_id], [story_id], [media_name], [media_type], [media_path], [created_at], [updated_at], [deleted_at]) VALUES (4, 3, N'dbb31459-d95b-4f32-9b4d-8df5c4822c41', N'.png', N'\images\story\', CAST(N'2023-03-28T14:13:28.5379266+05:30' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[story_media] ([story_media_id], [story_id], [media_name], [media_type], [media_path], [created_at], [updated_at], [deleted_at]) VALUES (5, 3, N'caed2d86-a4b1-47fd-ac65-88875e774a55', N'.png', N'\images\story\', CAST(N'2023-03-28T14:13:28.5380518+05:30' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[story_media] ([story_media_id], [story_id], [media_name], [media_type], [media_path], [created_at], [updated_at], [deleted_at]) VALUES (6, 3, N'daa63a4b-b39e-4654-903f-73690faaa9c0', N'.png', N'\images\story\', CAST(N'2023-03-28T14:13:28.5380532+05:30' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[story_media] OFF
GO
SET IDENTITY_INSERT [dbo].[timesheet] ON 

INSERT [dbo].[timesheet] ([timesheet_id], [user_id], [mission_id], [time], [action], [date_volunteered], [notes], [status], [created_at], [updated_at]) VALUES (2, 4, 12, CAST(N'02:40:00' AS Time), NULL, CAST(N'2022-03-06T00:00:00.0000000+05:30' AS DateTimeOffset), N'Done!', 1, CAST(N'2023-04-07T10:25:25.0113973+05:30' AS DateTimeOffset), NULL)
INSERT [dbo].[timesheet] ([timesheet_id], [user_id], [mission_id], [time], [action], [date_volunteered], [notes], [status], [created_at], [updated_at]) VALUES (5, 12, 12, CAST(N'12:10:00' AS Time), NULL, CAST(N'2022-03-06T00:00:00.0000000+05:30' AS DateTimeOffset), N'Extra work!', 2, CAST(N'2023-04-07T10:41:53.7992514+05:30' AS DateTimeOffset), NULL)
INSERT [dbo].[timesheet] ([timesheet_id], [user_id], [mission_id], [time], [action], [date_volunteered], [notes], [status], [created_at], [updated_at]) VALUES (6, 4, 5, CAST(N'04:15:00' AS Time), NULL, CAST(N'2022-03-06T00:00:00.0000000+05:30' AS DateTimeOffset), N'No comment!', 2, CAST(N'2023-04-07T11:56:53.6029502+05:30' AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[timesheet] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [first_name], [last_name], [email], [password], [phone_number], [avatar], [why_i_volunteer], [employee_id], [department], [city_id], [country_id], [profile_text], [linked_in_url], [title], [status], [created_at], [updated_at], [deleted_at], [availability]) VALUES (1, N'Sunny', N'Vachheta', N'sun@gmail.com', N'pass', N'8923472389', N'\images\static\anon-profile.png', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2023-02-28T18:09:41.0700000+00:00' AS DateTimeOffset), NULL, NULL, NULL)
INSERT [dbo].[user] ([user_id], [first_name], [last_name], [email], [password], [phone_number], [avatar], [why_i_volunteer], [employee_id], [department], [city_id], [country_id], [profile_text], [linked_in_url], [title], [status], [created_at], [updated_at], [deleted_at], [availability]) VALUES (2, N'First', N'Second', N'sun1@gmail.com', N'password', N'8923472389', N'\images\static\anon-profile.png', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, CAST(N'2023-03-01T09:54:43.8900000+00:00' AS DateTimeOffset), NULL, NULL, NULL)
INSERT [dbo].[user] ([user_id], [first_name], [last_name], [email], [password], [phone_number], [avatar], [why_i_volunteer], [employee_id], [department], [city_id], [country_id], [profile_text], [linked_in_url], [title], [status], [created_at], [updated_at], [deleted_at], [availability]) VALUES (3, N'Muse', N'Asia', N'sun11@gmail.com', N'password', N'7898243342', N'\images\static\anon-profile.png', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2023-03-01T16:33:28.6000000+00:00' AS DateTimeOffset), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[user_skill] ON 

INSERT [dbo].[user_skill] ([user_skill_id], [user_id], [skill_id], [created_at], [updated_at], [deleted_at]) VALUES (10007, 4, 2, CAST(N'2023-04-24T10:47:37.2885416+05:30' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[user_skill] ([user_skill_id], [user_id], [skill_id], [created_at], [updated_at], [deleted_at]) VALUES (10008, 4, 12, CAST(N'2023-04-24T10:47:37.2889185+05:30' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[user_skill] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_admin_email]    Script Date: 02-05-2023 12:15:29 ******/
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [UQ_admin_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cms_page__32DD1E4C53E1E875]    Script Date: 02-05-2023 12:15:29 ******/
ALTER TABLE [dbo].[cms_page] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_skill_name]    Script Date: 02-05-2023 12:15:29 ******/
ALTER TABLE [dbo].[skill] ADD  CONSTRAINT [UQ_skill_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_email]    Script Date: 02-05-2023 12:15:29 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [UQ_user_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [DF_admin_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[banner] ADD  CONSTRAINT [DF_banner_sort_order]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[banner] ADD  CONSTRAINT [DF_banner_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cms_page] ADD  CONSTRAINT [DF_cms_page_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[cms_page] ADD  CONSTRAINT [DF_cms_page_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comment] ADD  CONSTRAINT [DF_comment_approval_status]  DEFAULT ((0)) FOR [approval_status]
GO
ALTER TABLE [dbo].[contact_us] ADD  CONSTRAINT [DF_contact_us_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[contact_us] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[country] ADD  CONSTRAINT [DF_country_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[goal_mission] ADD  CONSTRAINT [DF_goal_mission_goal_achieved]  DEFAULT ((0)) FOR [goal_achived]
GO
ALTER TABLE [dbo].[mission] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[mission_application] ADD  CONSTRAINT [DF_mission_application_approval_status]  DEFAULT ((1)) FOR [approval_status]
GO
ALTER TABLE [dbo].[mission_media] ADD  CONSTRAINT [DF_mission_media_default]  DEFAULT ((0)) FOR [default]
GO
ALTER TABLE [dbo].[mission_skill] ADD  CONSTRAINT [DF_mission_skill]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[mission_theme] ADD  CONSTRAINT [DF_mission_theme]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((1)) FOR [is_enabled_recommend_mission]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((1)) FOR [is_enabled_volunteer_hour]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((1)) FOR [is_enabled_volunteer_goal]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((0)) FOR [is_enabled_comment]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((1)) FOR [is_enabled_story]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((0)) FOR [is_enabled_new_mission]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((1)) FOR [is_enabled_message]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((1)) FOR [is_enabled_mission_application]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((0)) FOR [is_enabled_news]
GO
ALTER TABLE [dbo].[notification_setting] ADD  DEFAULT ((1)) FOR [is_enabled_email]
GO
ALTER TABLE [dbo].[password_reset] ADD  CONSTRAINT [DF_password_reset_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[skill] ADD  CONSTRAINT [DF_skill_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[skill] ADD  CONSTRAINT [DF_skill_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[story] ADD  CONSTRAINT [DF_story_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[story] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[timesheet] ADD  CONSTRAINT [DF_timesheet_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[city]  WITH CHECK ADD  CONSTRAINT [FK_city_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[city] CHECK CONSTRAINT [FK_city_country]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_mission]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_user]
GO
ALTER TABLE [dbo].[contact_us]  WITH CHECK ADD  CONSTRAINT [FK_contact_us_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[contact_us] CHECK CONSTRAINT [FK_contact_us_user]
GO
ALTER TABLE [dbo].[favourite_mission]  WITH CHECK ADD  CONSTRAINT [FK_favourite_mission_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[favourite_mission] CHECK CONSTRAINT [FK_favourite_mission_mission]
GO
ALTER TABLE [dbo].[favourite_mission]  WITH CHECK ADD  CONSTRAINT [FK_favourite_mission_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[favourite_mission] CHECK CONSTRAINT [FK_favourite_mission_user]
GO
ALTER TABLE [dbo].[goal_mission]  WITH CHECK ADD  CONSTRAINT [FK_goal_mission_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[goal_mission] CHECK CONSTRAINT [FK_goal_mission_mission]
GO
ALTER TABLE [dbo].[mission]  WITH CHECK ADD  CONSTRAINT [FK_mission_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[city] ([city_id])
GO
ALTER TABLE [dbo].[mission] CHECK CONSTRAINT [FK_mission_city]
GO
ALTER TABLE [dbo].[mission]  WITH CHECK ADD  CONSTRAINT [FK_mission_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[mission] CHECK CONSTRAINT [FK_mission_country]
GO
ALTER TABLE [dbo].[mission]  WITH CHECK ADD  CONSTRAINT [FK_mission_mission_theme] FOREIGN KEY([theme_id])
REFERENCES [dbo].[mission_theme] ([theme_id])
GO
ALTER TABLE [dbo].[mission] CHECK CONSTRAINT [FK_mission_mission_theme]
GO
ALTER TABLE [dbo].[mission_application]  WITH CHECK ADD  CONSTRAINT [FK_mission_application_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[mission_application] CHECK CONSTRAINT [FK_mission_application_mission]
GO
ALTER TABLE [dbo].[mission_application]  WITH CHECK ADD  CONSTRAINT [FK_mission_application_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[mission_application] CHECK CONSTRAINT [FK_mission_application_user]
GO
ALTER TABLE [dbo].[mission_document]  WITH CHECK ADD  CONSTRAINT [FK_mission_document_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[mission_document] CHECK CONSTRAINT [FK_mission_document_mission]
GO
ALTER TABLE [dbo].[mission_invite]  WITH CHECK ADD  CONSTRAINT [FK_mission_invite_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[mission_invite] CHECK CONSTRAINT [FK_mission_invite_mission]
GO
ALTER TABLE [dbo].[mission_invite]  WITH CHECK ADD  CONSTRAINT [FK_mission_invite_user] FOREIGN KEY([from_user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[mission_invite] CHECK CONSTRAINT [FK_mission_invite_user]
GO
ALTER TABLE [dbo].[mission_invite]  WITH CHECK ADD  CONSTRAINT [FK_mission_invite_user2] FOREIGN KEY([to_user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[mission_invite] CHECK CONSTRAINT [FK_mission_invite_user2]
GO
ALTER TABLE [dbo].[mission_media]  WITH CHECK ADD  CONSTRAINT [FK_mission_media_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[mission_media] CHECK CONSTRAINT [FK_mission_media_mission]
GO
ALTER TABLE [dbo].[mission_rating]  WITH CHECK ADD  CONSTRAINT [FK_mission_rating_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[mission_rating] CHECK CONSTRAINT [FK_mission_rating_mission]
GO
ALTER TABLE [dbo].[mission_rating]  WITH CHECK ADD  CONSTRAINT [FK_mission_rating_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[mission_rating] CHECK CONSTRAINT [FK_mission_rating_user]
GO
ALTER TABLE [dbo].[mission_skill]  WITH CHECK ADD  CONSTRAINT [FK_mission_skill_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[mission_skill] CHECK CONSTRAINT [FK_mission_skill_mission]
GO
ALTER TABLE [dbo].[mission_skill]  WITH CHECK ADD  CONSTRAINT [FK_mission_skill_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skill] ([skill_id])
GO
ALTER TABLE [dbo].[mission_skill] CHECK CONSTRAINT [FK_mission_skill_skill]
GO
ALTER TABLE [dbo].[notification_setting]  WITH CHECK ADD  CONSTRAINT [FK_notification_setting_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[notification_setting] CHECK CONSTRAINT [FK_notification_setting_user]
GO
ALTER TABLE [dbo].[story]  WITH CHECK ADD  CONSTRAINT [FK_story_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[story] CHECK CONSTRAINT [FK_story_mission]
GO
ALTER TABLE [dbo].[story]  WITH CHECK ADD  CONSTRAINT [FK_story_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[story] CHECK CONSTRAINT [FK_story_user]
GO
ALTER TABLE [dbo].[story_invite]  WITH CHECK ADD  CONSTRAINT [FK_story_invite_story] FOREIGN KEY([story_id])
REFERENCES [dbo].[story] ([story_id])
GO
ALTER TABLE [dbo].[story_invite] CHECK CONSTRAINT [FK_story_invite_story]
GO
ALTER TABLE [dbo].[story_invite]  WITH CHECK ADD  CONSTRAINT [FK_story_invite_user] FOREIGN KEY([from_user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[story_invite] CHECK CONSTRAINT [FK_story_invite_user]
GO
ALTER TABLE [dbo].[story_invite]  WITH CHECK ADD  CONSTRAINT [FK_story_invite_user2] FOREIGN KEY([to_user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[story_invite] CHECK CONSTRAINT [FK_story_invite_user2]
GO
ALTER TABLE [dbo].[story_media]  WITH CHECK ADD  CONSTRAINT [FK_story_media_story] FOREIGN KEY([story_id])
REFERENCES [dbo].[story] ([story_id])
GO
ALTER TABLE [dbo].[story_media] CHECK CONSTRAINT [FK_story_media_story]
GO
ALTER TABLE [dbo].[timesheet]  WITH CHECK ADD  CONSTRAINT [FK_timesheet_mission] FOREIGN KEY([mission_id])
REFERENCES [dbo].[mission] ([mission_id])
GO
ALTER TABLE [dbo].[timesheet] CHECK CONSTRAINT [FK_timesheet_mission]
GO
ALTER TABLE [dbo].[timesheet]  WITH CHECK ADD  CONSTRAINT [FK_timesheet_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[timesheet] CHECK CONSTRAINT [FK_timesheet_user]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[city] ([city_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_city]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_country]
GO
ALTER TABLE [dbo].[user_notification]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[notification_type] ([type_id])
GO
ALTER TABLE [dbo].[user_notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[user_notification_check]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[user_skill]  WITH CHECK ADD  CONSTRAINT [FK_user_skill_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skill] ([skill_id])
GO
ALTER TABLE [dbo].[user_skill] CHECK CONSTRAINT [FK_user_skill_skill]
GO
ALTER TABLE [dbo].[user_skill]  WITH CHECK ADD  CONSTRAINT [FK_user_skill_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[user_skill] CHECK CONSTRAINT [FK_user_skill_user]
GO
USE [master]
GO
