@model ContactUsVM

<!-- Contact Us Form Modal Begin -->
<div class="modal" tabindex="-1" id="contactUsFormModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title font-22 text-black-1">Contact Us Response</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="user-modal-form" id="contact-reply-form">
                <div class="modal-body d-flex flex-column gap-3">
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="ContactId" id="contact-id"/>
                    <div>
                        <label class="form-label" asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" id = "user-name" readonly>
                    </div>
                    <div>
                        <label class="form-label" asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" readonly>
                    </div>
                    <div>
                        <label class="form-label" asp-for="Subject"></label>
                        <input asp-for="Subject" class="form-control" placeholder="Enter Your Subject" readonly>
                        <span class="font-xs text-danger" asp-validation-for="Subject" ></span>
                    </div>
                    <div>
                        <label asp-for="Message" class="form-label"></label>
                        <textarea class="form-control" asp-for="Message" rows="3" placeholder="Enter Your Message" readonly></textarea>
                        <span class="font-xs text-danger" asp-validation-for="Message"></span>
                    </div>
                    <div>
                        <label asp-for="Response" class="form-label"></label>
                        <textarea class="form-control" asp-for="Response" rows="3" placeholder="Enter Your Response" id="response"></textarea>
                        <span class="font-xs text-danger" id="err-response"></span>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn-g-gray" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn-g-orange">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Contact Us Form Modal finish -->

<partial name="_ValidationScriptsPartial" />
