<!-- Footer(New) -->
@{
    var userName = Context.Session.GetString("UserName");
}
<footer class="border w-100">
    <div class="container p-4">
        <a asp-controller="Home" asp-action="Privacy" class="font-xs text-light-custom text-black-1">
            Privacy Policy
        </a>
        <a class="font-xs fw-light text-black-1 ms-4 cursor-pointer" id="btn-contact-us"> Contact Us </a>
    </div>
</footer>
<div id="partial-contact-form">
</div>

<!-- Footer(New) Fin -->