<!-- Footer(New) -->
<div class="position-relative w-100 mt-4 bottom-0">
    <footer class="border">
        <div class="container p-4">
            <a href="#" class="font-xs text-light-custom text-black-1">
                Privacy Policy
            </a>
        </div>
    </footer>
</div>
<!-- Footer(New) Fin -->