@{
    ViewData["Title"] = "Mission Home | Home";
}

<header>
    <partial name = "_Navbar"></partial>
    <hr class ="m-0"/>
    <partial name = "_SearchSection"></partial>
</header>

<section class="container mt-2">
    <partial name = "_MissionGrid"></partial>
</section>

