@model MissionLandingVM
@{
    ViewData["Title"] = "Mission Home | Home";
    var isLoggedOut = false;

    isLoggedOut = TempData["logout-success"] != null;

    var isRegister = TempData["registratoin-success"] != null;
}
@Html.HiddenFor(model => isLoggedOut, new { id = "is-logged-out" })
@Html.HiddenFor(model => isRegister, new { id = "is-registered" })
<main class="index-grid d-grid min-vh-100">
<header>
    <partial name = "_Navbar" ></partial>
    <hr class ="m-0"/>
    <partial name="_SearchSection" model="Model"></partial>
</header>

<section class="container mt-2 mb-4" id="partial-mission-listing">
    @*<partial name="_MissionIndexListing" model="Model"></partial>*@
</section>


<!-- Pagination Begin  -->
<section class="container my-2 my-md-5 d-flex justify-content-center gap-2 text-light-custom c-pagination-item" id="msn-pagination">
  
</section>
<!-- Pagination End  -->

<partial name = "_Footer"></partial>
</main>
@section Scripts{
    <script src="~/js/site.js"></script>
    <script src = "~/js/mission-view-toggler.js"></script>
    <script src = "~/js/mission-search-filter.js"></script>
    <script src="~/js/mission-pagination.js"></script>
}

