@model MissionLandingVM
@{
    ViewData["Title"] = "Mission Home | Home";
}
<main class="index-grid d-grid min-vh-100">
<header>
    <partial name = "_Navbar" ></partial>
    <hr class ="m-0"/>
    <partial name="_SearchSection" model="Model"></partial>
</header>

<section class="container mt-2 mb-4" id="partial-mission-listing">
    @*<partial name="_MissionIndexListing" model="Model"></partial>*@
</section>


<!-- Pagination Begin  -->
<section class="container my-2 my-md-5 d-flex justify-content-center gap-2 text-light-custom c-pagination-item" id="msn-pagination">
    @*<button class="btn p-2 px-3 d-flex align-items-center border bg-transparent">
        <img src="./assets/previous.png" alt="Previous Pages">
    </button>
    <button class="btn p-2 px-3 d-flex align-items-center border bg-transparent ">
        <img src="./assets/left.png" alt="Previous">
    </button>
    <button class="btn p-2 px-3 d-flex align-items-center border bg-transparent active">
        1
    </button>
    <button class="btn p-2 px-3 d-flex align-items-center border bg-transparent">
        <img src="./assets/right-arrow1.png" alt="Next Item">
    </button>
    <button class="btn p-2 px-3 d-flex align-items-center border bg-transparent">
        <img src="./assets/next.png" alt="Next Pages">
    </button>*@
</section>
<!-- Pagination End  -->

<partial name = "_Footer"></partial>
</main>
@section Scripts{
    <script src = "~/js/mission-view-toggler.js"></script>
    <script src = "~/js/mission-search-filter.js"></script>
    <script src="~/js/mission-pagination.js"></script>
}

