@model MissionLandingVM
@{
    ViewData["Title"] = "Mission Home | Home";
}
<header>
    <partial name = "_Navbar" ></partial>
    <hr class ="m-0"/>
    <partial name="_SearchSection" model="Model"></partial>
</header>

<section class="container mt-2 mb-4" id="partial-mission-listing">
    <partial name="_MissionIndexListing" model="Model"></partial>
</section>


<!-- Footer(New) -->
<div class="position-absolute w-100 mt-auto">
    <footer class="border bottom-0">
        <div class="container p-4">
            <a href="#" class="font-xs text-light-custom text-black-1">
                Privacy Policy
            </a>
        </div>
    </footer>
</div>
<!-- Footer(New) Fin -->

@section Scripts{
    <script src = "~/js/mission-view-toggler.js"></script>
    <script src = "~/js/mission-search-filter.js"></script>
}

