@{
    ViewData["Title"] = "Mission Home | Home";
}

<header>
    <partial name = "_Navbar"></partial>
    <hr class ="m-0"/>
    <partial name = "_SearchSection"></partial>
    <partial name ="_GridListView"></partial>
</header>

<section class="container mt-2" id="partial-mission-listing">
<partial name ="_MissionGrid"></partial>
<partial name="_MissionList"></partial>

</section>



@*@section Scripts
{

    <script>
        $(document).ready(function () {
            const gridView = $('#grid-view');
            const listView = $('#list-view');
            
            gridView.click(function()
            {
                $.get('/Volunteer/User/RenderPartialViewMissionGrid', function(data)
                {
                    console.log("Grid called");
                    $('#partial-mission-listing').html(data);
                });
            });

            listView.click(function () {
                $.get('/Volunteer/User/RenderPartialViewMissionList', function (data) {
                    console.log("Grid called");
                    $('#partial-mission-listing').html(data);
                });
            });
        });
    </script>
}*@

<script>
    const gridView = document.querySelector('#grid-view-msn');
    const listView = document.querySelector('#list-view-msn');

    const btnGrid = document.querySelector('#grid-view');
    const btnList = document.querySelector('#list-view');

    const displayClass = "d-none";

    btnGrid.addEventListener(
        'click',
        () =>
            {
                const classList = gridView.classList;
                if(classList.contains(displayClass))
                {
                    classList.toggle(displayClass);
                    listView.classList.add(displayClass);
                }
            }
    );

    btnList.addEventListener(
        'click',
        () =>
        {
            const classList = listView.classList;
            if(classList.contains(displayClass))
            {
                classList.toggle(displayClass);
                gridView.classList.add(displayClass);
            }
        }
    );

</script>
