@{
    ViewData["Title"] = "Reset Password | User";
}

<section class="d-flex flex-column flex-lg-row gap-2 gap-lg-0">
    <partial name="_HeroBanner" />
    <div class="right-section d-flex flex-column align-items-center justify-content-center gap-4">
        <h4 class="form-title">New Password</h4>
        <span class="form-subtitle text-light-custom text-center">
            Please enter a new password in the fields below.
        </span>
        <form class="d-grid gap-4">
            <div class="form-group text-start">
                <label for="password" class="input-label text-light-custom">Password</label>
                <input type="password" value="hellothere" class="form-control custom-input" id="password" placeholder="Create new password">
            </div>
            <div class="form-group text-start">
                <label for="confirm-password" class="input-label text-light-custom">Confirm Password</label>
                <input type="password" class="form-control custom-input" id="confirm-password" value="hellothere" placeholder="Enter password again">
            </div>
            <button class="btn w-100 mx-auto btn-login">
                Change Password
            </button>
        </form>
        <a asp-controller="User" asp-action = "Login" class="login-link-text text-light-custom">
            Login
        </a>
        <span class="login-help-text text-light-custom mt-4 policy-text">
            Privacy Policy
        </span>
    </div>
</section>