@model ResetPasswordPostVM
@{
    ViewData["Title"] = "Reset Password | User";
}

<section class="d-flex flex-column flex-lg-row gap-2 gap-lg-0 min-vh-100">
    <partial name="_HeroBanner" model = "Model.Banners"/>
    <div class="right-section d-flex flex-column align-items-center justify-content-center gap-4">
        <h4 class="form-title">New Password</h4>
        <span class="form-subtitle text-light-custom text-center">
            Please enter a new password in the fields below.
        </span>
        <form class="d-grid gap-4" asp-route = "ResetPasswordPost" method = "post" id="reset-password-form">
            <div class="form-group text-start">
                <label asp-for="Password" class="input-label text-light-custom">Password</label>
                <input asp-for="Password" type="password" class="form-control custom-input" id="password" placeholder="Create new password">
                <span class="text-danger font-10" asp-validation-for="Password"></span>
            </div>
            <div class="form-group text-start">
                <label asp-for="ConfirmPassword" class="input-label text-light-custom">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control custom-input" id="confirm-password" placeholder="Enter password again">
                <span class="text-danger font-10" asp-validation-for="ConfirmPassword"></span>
            </div>
            <input type = "hidden" asp-for="Email"/>
            <input type="hidden"  asp-for="Token"/>
            <button class="btn w-100 mx-auto btn-login" type = "submit">
                Change Password
            </button>
        </form>
        <a asp-controller="User" asp-action = "Login" class="login-link-text text-light-custom">
            Login
        </a>
        <span class="login-help-text text-light-custom mt-4 policy-text">
            Privacy Policy
        </span>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

<script>
    const form = document.querySelector('#reset-password-form');
    const password = document.querySelector('#password');
    const cnfPassword = document.querySelector('#confrim-password');

    let isValid = false;

    form.addEventListener
    (
        'submit',
        (e) =>
        {
            let pass = password.value;
            let cnf = cnfPassword.value;
            if( pass != cnf )
            {
                e.preventDefault();
                return false;
            }
            return true;
        }
    );
</script>