@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class=" d-flex flex-column bg-hero-login justify-content-end p-5 align-items-start gap-3">
    <!-- <div class = "d-flex flex-column gap-4"> -->
    <div class="hero-title">
        Sed ut perspiciatis unde omnis iste natus voluptatem.
    </div>
    <div class="hero-text d-none d-md-block text-light-custom">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <!-- </div> -->
</div>
