@model List<RecentVolunteersVM>
@{
    var totalVolunteers = ViewBag.TotalVolunteers;
    var volunteerCount = Model.LongCount();
}
@Html.HiddenFor(model => totalVolunteers, new { id = "total-volunteer-count" })
<div class="border-bottom mb-2">
    <div class="border-bottom-1 font-22 mx-content pe-3 pb-3">
        Recent Volunteers
    </div>
</div>
<div class="d-flex flex-wrap small-light-text p-2 justify-content-around gap-5 gap-lg-5 ">
    
    @foreach(var volunteer in Model)
    {
        <div class="text-center">
        <img src="@volunteer.Avatar" alt="Volunteer Image" class="volunteer-img rounded-pill">
        <span class="d-block">@volunteer.UserName?.Trim()</span>
    </div>
    }
</div>

<!-- Recent volunteer pagination -->
<div class="position-relative d-flex bottom-0 ms-n4 border-top me-n4">
    <button class="cursor-pointer p-2 p-lg-4 d-flex align-items-center bg-transparent border" id="btn-vl-prev">
        <img src="~/assets/left.png" alt="Previous">
    </button>
    <div class="my-auto mx-auto text-light-custom text-black-1 font-xs">
        1 - 9 of of 25 Recent Volunteers
    </div>
    <button class="cursor-pointer p-2 p-lg-4 d-flex align-items-center bg-transparent border" id="btn-vl-next">
        <img src="~/assets/right-arrow1.png" alt="Previous">
    </button>
</div>
<!-- Recent Volunteer Pagination -->